.b-page
{
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: black;

    background: rgb(242,242,242); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(242,242,242,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(242,242,242,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    background-repeat: no-repeat;
    background-attachment: fixed;

    margin: 0;
}

table.b-dashboard /* type selector here is for making heavier */
{
    width: 800px;
    margin: 2em auto;

    border-color: #CCC;
    border-bottom: 1px solid;
}

.b-dashboard__suggest_visibility_hidden
{
    display: none;
}

.b-dashboard__suggest .b-text__p
{
    text-align: left;
    margin: 0.5em 0;
}

.b-dashboard__searchresult,
.b-dashboard__playlists
{
    max-height: 400px;
    overflow-y: scroll;
}

.b-layout-table__cell.b-dashboard__control
{
    text-align: right;
    vertical-align: bottom;
}

.b-layout-table
{
    font-size: 100%;

    width: 100%;

    border-collapse: collapse;
}

.b-layout-table__gap,
.b-layout-table__cell
{
    padding: 0;

    vertical-align: top;
}

.b-layout-table_layout_50-50 > tbody > .b-layout-table__row > .b-layout-table__cell
{
    width: 50%;
    padding: 0.4em;
}

.b-layout-table_layout_50-50 > tbody > .b-layout-table__row > .b-layout-table__cell_position_r
{
    width: 50%;
}

.b-layout-table_layout_50-50 > tbody > .b-layout-table__row > .b-layout-table__inner
{
    margin-right: 20px;
}

.b-search__input
{
    width: 100%;
    margin: 0;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.b-search__button
{
    margin: 0;
}
.b-search
{
    background-color: #00A1CB;
    padding: 1em;

    position: relative;
    z-index: 1;
}

.b-search__button
{
    cursor: pointer;
}

td.b-search__layout-input
{
    vertical-align: bottom;
    padding: 4px;
}

.b-search__layout-input
{
    width: 100%;

    vertical-align: middle;
}

.b-search__layout-button
{
    padding-left: 6px;

    vertical-align: middle;
}

.b-form-input
{
    display: block;
}

.b-form-input__box
{
    display: block;

    border: 1px solid;

    border-collapse: separate; /* Стиль нужен для отображения box-shadow в IE9, а из focused вынесено из-за LEGO-5937 */
    background: #fff;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    -webkit-box-shadow: inset 0 1px 1px #cfcfcf;
    -moz-box-shadow: inset 0 1px 1px #cfcfcf;
    box-shadow: inset 0 1px 1px #cfcfcf;

    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.b-form-input__input
{
    font: 100% Arial, sans-serif;

    width: 100%;
    margin: 0;
    padding-left: 0.3em;

    outline: 0;

    border: 0;
    background: none;

    color: #000;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.b-form-input_disabled_yes .b-form-input__input,
.b-form-input_disabled_yes .b-form-input__label,
.b-form-input_disabled_yes .b-form-input__hint
{
    opacity: 0.5;
}

.b-form-input_disabled_yes .b-form-input__clear
{
    display: none;
}

.b-form-input_disabled_yes .b-form-input__input
{
    resize: none;
}

.b-form-input__hint-wrap
{
    position: relative;
    z-index: 2;

    display: none; /*Прячем не хинт, а его обертку*/ /**/

    float: left;
    overflow: hidden;

    width: 100%;
    height: 1.4em;
    margin-bottom: -1.4em;
}

.b-form-input__hint
{
    font-family: Arial, sans-serif;

    position: absolute;

    width: 100%;
    height: 100%;
    padding: 0.2em 0 0 7px; /*Отступ справа для новых шапок, в em отступы не совпадают*//**/

    cursor: text;
    line-height: 100%;
    white-space: nowrap;

    color: #999;
}

/* TODO подумать как это отсюда убрать */ /**/
.i-ua_js_yes .b-form-input_size_s .b-form-input__hint
{
    line-height: 137%;
}

.i-ua_js_yes .b-form-input_size_m .b-form-input__hint
{
    padding-top: 0.39em;
}

.i-ua_js_yes .b-form-input_size_l .b-form-input__hint
{
    padding-top: 0.31em;
}

.i-ua_js_yes .b-form-input_size_xl .b-form-input__hint
{
    padding-top: 0.3em;
}
body .b-form-input__hint-wrap_visibility_visible
{
    display: block;
}

.b-form-input_theme_blue
{
    position: relative;
    z-index: 1;
}

.b-form-input_theme_blue:after {
    content: '';
    width: 282px;
    position: absolute; bottom: -2px;
    background: #00A1CB0;
    z-index: -1;

    box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.4);
    -moz-25pxbox-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 25px5px 8px rgba(0, 0, 0, 0.4);

    border-radius: 50%;
    -moz-border-radius:moz 50%;
    -webkit-border-radius: 50%;
}

.b-form-input_theme_blue .b-form-input__box
{
    background: #eff8fe;
    background: linear-gradient(top, #eff8fe 100%, #d6f0fd 100%);
    background: -webkit-linear-gradient(top, #eff8fe 100%, #d6f0fd 100%);
    background: -moz-mozlinear-gradient(top, #eff8fe 100%, #d6f0fd 100%);
    background: -ms-linear-gradient(top, #eff8fe 100%, #d6f0fd 100%);
    background: -o-linear-gradient(top, #eff8fe 100%, #d6f0fd 100%);

    border-color: #a3a3a3 #c6c6c6 #e5e5e5;
    border-radius: 4px;
    -webkit-borderder-radius: 4px;
    -moz-border-radius: 4px;
}

.b-form-input_theme_blue.b-form-input_focused_yes .b-form-input__box
{
    -webkit-box-shadow: inset 0 1px 1px #cfcfcf, 0 0 1px #ffd94f, 0 0 1px #ffd94f, 0 0 2px #ffd94f;
    -moz-box-shadow: inset 0 1px 1px #cfcfcf,  0 0 1px #ffd94f, 0 0 1px #ffd94f, 0 0 2px #ffd94f;
    box-shadow: inset 0 1px 1px #cfcfcf, 0 0 1px #ffd94f, 0 0 1px #ffd94f, 0 0 2px #ffd94f;
}

.b-form-input_theme_blue.b-form-input_disabled_yes .b-form-input__box
{
    border-color: #e9e9e9 #f2f2f2 #f9f9f9;

    -webkit-box-shadow: inset 0px 1px 1px #f4f4f4;
    -moz-box-shadow: inset 0px 1px 1px #f4f4f4;
    box-shadow: inset 0px 1px 1px #f4f4f4;
}

.b-form-input_theme_blue .b-form-input__hint
{
    color: #9babc5;
}

.b-form-input_theme_blue .b-form-input__input
{
    color: #113f8c;
}

.b-form-input_size_m .b-form-input__hint,
.b-form-input_size_m .b-form-input__input
{
    font-size: 13px;
}

.b-form-input_size_m .b-form-input__input
{
    padding-top: 3px;
    padding-bottom: 2px;

    line-height: 130%;
}

.b-form-input_size_m .b-form-input__box
{
    height: 22px;
}

.b-form-input_size_m .b-form-input__hint-wrap
{
    height: 22px;
    margin-bottom: -22px;
}

.b-form-input_type_textarea .b-form-input__input
{
    resize: vertical;
}

body .b-form-input_type_textarea .b-form-input__hint
{
    padding-top: 0.4em;
}

.b-cloud
{
    display: block;

    width: 70px; height: 24px;
    position: relative;
    margin: 12px auto 4px;

    background: #f2f9fe;
    background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    background: -moz-mozlinear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);

    border-radius: 20px;
    -webkit-borderder-radius: 20px;
    -moz-border-radius: 20px;
}

.b-cloud:hover
{
    background: linear-gradient(top, #f2f9fe 5%, #fdefd6 100%);
    background: -webkit-linear-gradient(top, #f2f9fe 5%, #fdefd6 100%);
    background: -moz-mozlinear-gradient(top, #f2f9fe 5%, #fdefd6 100%);
    background: -ms-linear-gradient(top, #f2f9fe 5%, #fdefd6 100%);
    background: -o-linear-gradient(top, #f2f9fe 5%, #fdefd6 100%);
}

.b-cloud:after,
.b-cloud:before
{
    content: '';

    position: absolute;
    z-index: -1;

    background: #f2f9fe;
}

.b-cloud:after
{
    width: 20px;
    height: 20px;
    top: -10px;
    left: 10px;

    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

.b-cloud:before
{
    width: 36px;
    height: 36px;
    top: -18px;
    right: 10px;

    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
}

.b-cloud__shadow
{
    width: 70px;
    position: absolute;
    bottom: -2px;
    z-index: -1;

    background: #00A1CB0;

    box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.4);

    border-radius: 50%;
    -moz-border-radius:moz 50%;
    -webkit-border-radius: 50%;
}

.b-cloud__text
{
    margin: -20px auto;
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: #113F8C;
    letter-spacing: 1px;
}

.b-cloud__input
{
    width: 100%;
    height: 100%;
    padding: 0;

    vertical-align: top;

    opacity: 0;
    border: 0;
    outline: 0;

}

/* FF > 2, overwise the input is more than 100%*//**/
.b-cloud__input::-moz-focus-inner
{
    padding: 0;

    border: 0;
}

.b-serp-item
{
    margin: 1em 0;
}

.b-serp-item:nth-child(2n+1) .b-serp-item__title
{
    border-color: #61AE24;
}

.b-serp-item__title
{
    font-size: 13px;

    padding: 0.2em 0.2em 0.2em 0.4em;

    border: #D70060 solid;
    border-width: 0 0px 0 3px;
}

.b-serp-item__description
{
    color: #ccc;
    font-size: 11px;

    margin: 0.2em 0 0 0.4em;
    padding: 0.4em;
}

.b-playlist
{
    margin: 5px;
    padding: 0.4em;
    border: #E54028 solid;
    border-width: 0 0 0 3px;
    opacity: 0.7;
    position: relative;

}

.b-playlist:nth-child(3n+1)
{
    border-color: #113F8C;
}

.b-playlist:nth-child(3n+2)
{
    border-color: #61AE24;
}

.b-playlist.b-playlist_state_current
{
    opacity: 1;
    border-width: 0 0 0 5px;
    margin-left: 3px;
}

.b-playlist__title
{
    margin: 9px 100px 0 0;
}

.b-playlist__title_action_none .b-form-input__input
{
    padding-left: 0;
}

.b-playlist__desc
{
    display: none;
}

.b-playlist_state_current .b-playlist__desc
{
    display: block;
}

.b-playlist__title_action_none .b-form-input__box,
.b-playlist__desc_action_none .b-form-input__box
{
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    background: transparent;
}

.b-playlist__desc_action_none .b-form-input__box
{
    height: 13px;
    margin: 0 0 0.4em;
}

.b-playlist__songs
{
    display: none;
}

.b-playlist_state_current .b-playlist__songs
{
    display: block;
}

.button.b-playlist__play,
.button.b-playlist__trash-all,
.button.b-playlist__clone
{
    position: absolute;
    right: 0px;
    display: none;
}

.b-playlist_state_current .button.b-playlist__play,
.b-playlist_state_current .button.b-playlist__trash-all,
.b-playlist_state_current .button.b-playlist__clone
{
    display: inline-block;
}

.button.b-playlist__play
{
    right: 30px;
}

.button.b-playlist__clone
{
    right: 65px;
}

.b-playlist__track
{
    padding: 10px 0 0;
    border: #ccc 0 solid;
    border-width: 0 0 1px;
}

.button.b-playlist__trash,
.button.b-playlist__up,
.button.b-playlist__down
{
    position: absolute;
    right: 0;
    margin: -8px 5px 0;

}

.button.b-playlist__up
{
    right: 30px;
}

.b-playlist__track:first-child .button.b-playlist__up
{
    visibility: hidden;
}

.button.b-playlist__down
{
    right: 60px;
}

.b-playlist__track:last-child .button.b-playlist__down
{
    visibility: hidden;
}

.b-playlist__track_state_current .b-playlist__track-title
{
    font-weight: bold;
}

.b-form-input_theme_grey .b-form-input__box
{
    border-color: #a3a3a3 #c6c6c6 #e5e5e5;
}

.b-form-input_theme_grey.b-form-input_focused_yes .b-form-input__box
{
    -webkit-box-shadow: inset 0 1px 1px #cfcfcf, 0 0 1px #ffd94f, 0 0 1px #ffd94f, 0 0 2px #ffd94f;
    -moz-box-shadow: inset 0 1px 1px #cfcfcf,  0 0 1px #ffd94f, 0 0 1px #ffd94f, 0 0 2px #ffd94f;
    box-shadow: inset 0 1px 1px #cfcfcf, 0 0 1px #ffd94f, 0 0 1px #ffd94f, 0 0 2px #ffd94f;
}

.b-form-input_theme_grey.b-form-input_disabled_yes .b-form-input__box
{
    border-color: #e9e9e9 #f2f2f2 #f9f9f9;

    -webkit-box-shadow: inset 0px 1px 1px #f4f4f4;
    -moz-box-shadow: inset 0px 1px 1px #f4f4f4;
    box-shadow: inset 0px 1px 1px #f4f4f4;
}

.button
{
    cursor: pointer;
}

.button.xxs
{
    font-size: 11px;
}

