.b-serp-item
{
    margin: 1em 0;
}

.b-serp-item:nth-child(2n+1) .b-serp-item__title
{
    border-color: #61AE24;
}

.b-serp-item__title
{
    font-size: 13px;

    padding: 0.2em 0.2em 0.2em 0.4em;

    border: #D70060 solid;
    border-width: 0 0px 0 3px;
}

.b-serp-item__description
{
    color: #ccc;
    font-size: 11px;

    margin: 0.2em 0 0 0.4em;
    padding: 0.4em;
}
