.b-playlist
{
    margin: 0.4em;
    background-color: #fff;
    border: orange 1px solid;
    opacity: 0.7;
}

.b-playlist_state_current
{
    opacity: 1;
}

.b-playlist__songs
{
    display: none;
}

.b-playlist_state_current .b-playlist__songs
{
    display: block;
}

.b-playlist__title
{
    color: black;
}

.b-playlist__title_action_none
{
    border: 0;
}

.b-playlist__play
{
    dispaly: none;
}

.b-playlist_state_current .b-playlist__play
{
    display: inline-block;
    float: right;
    width: 19px;
    height: 19px;
    margin: 5px;
    background-image: url(http://music.yandex.ru/i/ExZpc5YLm_sWy5otDdPc8Z5PLo0.png);
    background-position: -19px 0;
}

.b-playlist__play_state_silent
{
    opacity: 0.5;
}

.b-playlist__track
{
    height: 23px;
}

.b-playlist__trash-all,
.b-playlist__trash
{
    display: inline-block;
    float: right;
    width: 19px;
    height: 19px;
    margin: 2px;
    background-image: url(http://music.yandex.ru/i/ExZpc5YLm_sWy5otDdPc8Z5PLo0.png);
    background-position: 19px 0;
}

.b-playlist__track_state_current
{
    background-color: red;
}
