.b-playlist
{
    margin: 0.4em;
    padding: 0.4em;
    border: #E54028 solid;
    border-width: 0 0 0 3px;
    opacity: 0.7;
    position: relative;

}

.b-playlist:nth-child(3n+1)
{
    border-color: #113F8C;
}

.b-playlist:nth-child(3n+2)
{
    border-color: #61AE24;
}

.b-playlist.b-playlist_state_current
{
    opacity: 1;
    background: #eff8fe;
    background: linear-gradient(top, #eff8fe 100%, #d6f0fd 100%);
    background: -webkit-linear-gradient(top, #eff8fe 100%, #d6f0fd 100%);
    background: -moz-mozlinear-gradient(top, #eff8fe 100%, #d6f0fd 100%);
    background: -ms-linear-gradient(top, #eff8fe 100%, #d6f0fd 100%);
    background: -o-linear-gradient(top, #eff8fe 100%, #d6f0fd 100%);
}

.b-playlist__title
{
    width: 200px;
    height: 23px;
}

.b-playlist__title_action_none .b-form-input__input
{
    padding-left: 0;
}

.b-playlist__desc
{
    display: none;
}

.b-playlist_state_current .b-playlist__desc
{
    display: block;
}

.b-playlist__title_action_none .b-form-input__box,
.b-playlist__desc_action_none .b-form-input__box
{
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    background: transparent;
}

.b-playlist__desc_action_none .b-form-input__box
{
    height: 13px;
    margin: 0 0 0.4em;
}

.b-playlist__songs
{
    display: none;
}

.b-playlist_state_current .b-playlist__songs
{
    display: block;
}

.b-playlist__trash-all,
.b-playlist__play
{
    display: none;
}
.b-playlist_state_current .b-playlist__trash-all,
.b-playlist_state_current .b-playlist__play
{
    display: inline-block;
}


.b-playlist__play, .b-playlist__trash-all
{
    position: absolute;
    right: 5px;
}

.b-playlist__play
{
    right: 29px;
}

.b-playlist_state_current .b-playlist__play
{
    width: 19px;
    height: 19px;
    margin: 2px;
    background-image: url(http://music.yandex.ru/i/ExZpc5YLm_sWy5otDdPc8Z5PLo0.png);
    background-position: -19px 0;
}

.b-playlist_state_current .b-playlist__play_action_playing
{
    background-position: -19px -19px;
}

.b-playlist__track
{
    height: 23px;
    padding: 5px 0;
    border: #ccc 0 solid;
    border-width: 0 0 1px;
}

.b-playlist__trash-all,
.b-playlist__trash
{
    width: 19px;
    height: 19px;
    margin: 2px;
    background-image: url(http://music.yandex.ru/i/ExZpc5YLm_sWy5otDdPc8Z5PLo0.png);
    background-position: 19px 0;

    position: absolute;
    right: 0;

}

.b-playlist__track_state_current .b-playlist__track-title
{
    font-weight: bold;
}
