.b-playlist
{
    margin: 0.4em;
    background-color: orange;
    opacity: 0.7;
}

.b-playlist_state_current
{
    opacity: 1;
}

.b-playlist__songs
{
    display: none;
}

.b-playlist_state_current .b-playlist__songs
{
    display: block;
}

.b-playlist__title
{
    color: white;
}

.b-playlist__track_state_current
{
    background-color: red;
}
