table.b-dashboard /* type selector here is for making heavier */
{
    width: 800px;
    margin: 2em auto;

    border-color: #CCC;
    border-bottom: 1px solid;
}

.b-dashboard__suggest_visibility_hidden
{
    display: none;
}

.b-dashboard__suggest .b-text__p
{
    margin: 0.5em 0;
}

.b-dashboard__searchresult,
.b-dashboard__playlists
{
    max-height: 400px;
    overflow-y: scroll;
}
